<!DOCTYPE html>
%html
  %head
    %title Intelligent Website
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.min"
    = javascript_include_tag "jquery_ujs"
  %body
    .passport
      =render :partial=>"/index/passport"
    .header
      =render :partial=>"/index/header"
    .main_content
      = yield
    .footer
      =render :partial=>"/index/footer"
