<!DOCTYPE html>
%html
  %head
    %title Intelligent Website
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = javascript_include_tag "jquery.min"
    = javascript_include_tag "jquery_ujs"
  %body
    .passport
      .info_message.container
        .logo
        .top_nav
          =render :partial=>"/index/passport"
    .header.container
      =render :partial=>"/index/header"
    .main_content.container
      = yield
    .footer.container
      =render :partial=>"/index/footer"
